@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .containerC{
    max-width: 768px;
  }

  .CatPic{
    margin : auto 0;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .containerC{
      max-width: 768px;
    }
    .CatPic{

    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .containerC{
      max-width: 768px;
    }

}

* {
  padding: 0;
  margin : 0;
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
}

html {
  font-size : 15px;
}

.headerBar {
  width: 100%;
	height: auto;
	z-index: 1;
	position: relative;
	background-color: rgba(244, 224, 249, 1);
}
.headerBar .containerC:after {
	content: "";
	clear: both;
	display: table;
}


.jumbotron{
  background-color: transparent!important;
  margin-top: 20px;
  margin-right: 40px!important;
  margin-left: 40px!important;
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.category{
  text-align: left;
}

.containerC {
	width: 100%;
  min-width: 750px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: auto;
}

.containerC:first-child{
  height: 90px;
  max-height: 90px;
  padding-left: 0;
}



.CatProfile {
  width: 100%;
  min-width: 100%;
  /*min-width: 650px;*/
  min-height: 300px;
  height: 500px;
  /*윗 두놈은 div의 width와 height를 의미한다. 백그라운드 사이즈와는 별도다!!*/
  margin-top: 0px;
  background-image: url("../images/animal-profile/backgroundpaw_lightblue2.png");
  background-position : center center;
  /*background-repeat : no-repeat;*/
  background-size: 50%;
  position : relative;


}

.CatPic{

  float: left;
  margin: 20px auto;
  /*margin-left: 30px;*/
  /*margin-top: 20px;*/
  /*width: 200px;
  height: 300px;*/

  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(66, 140, 244);
  display: block;
}

.btn-primary{
  background-color: rgb(66, 140, 244);
}




.img-responsive{
  position: center;
  padding: auto 0;
}

.CatProperties {
  float: left;
  width: 65%;
  height: 320px;
}

.CatSubProperties {
  margin-top: 20px;
  margin : auto 0;
}

@media only screen
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .CatSubProperties{
      margin: auto 0;
    }

}

.containerC2{
  margin-left: 10px!important;
  padding-left: 10px!important;
  text-align: left!important;
}

.category:first-child{

}

.category {
  display: block;
  margin-bottom: 20px;
}

p > h3 {
  font: white;
}

h4{
  color: white;
}


.logo a {
	display: inline-block;
	width: 100%;
}
.logo a img {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
	height: 50px;
  /*position: absolute;*/
}

.logo a img:after {
  content: "";
}

ul.Menus {
	margin-top: 2em;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 2em;
	list-style: none;
	float: right;
  /*transform: translateX(50%);*/
}

ul.Menus li {
	float: left;
	padding-right: 3em;
}

ul.Menus:after {

	content: "";
	clear: both;
  /*Menu에 적용된 float에 영향을 받지 않고 일반적인 레이아웃을 사용하게 하기 위함*/
	display: table;
}

ul.Menus li:last-child {
	padding-right: 5px;
}

ul.Menus li a {
	font-size: 1.2rem;
	color: #1a1a1a;
	font-weight: bold;
	line-height: 1;
	width: 100%;
}

ul.Menus li a:hover {
	border-bottom: 1px solid;
}

a {
  text-decoration : none;

}

/*여기까지 AIDED*/

.content {
  padding : 70px 0;
}

.content2 {
  width: 100%;

  background-image: url("./resources/images/backgroundpaw_lightblue2.png");
  height: 200px;
  position: relative;
}

.row2{
  background-image: url("../images/animal-profile/backgroundpaw_lightblue2.png");
  margin: 0 auto;
}

.thumbnail::after{

}
.optionsButton {
  list-style: none;
}



.containerC.optionsButton li {
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  /*margin : 0 auto;*/
}



ul.optionsButton {
  /*padding-left: auto;*/
  text-align: center;
  display: inline-block;
  /*!!!!!!!!!!!!!!!!!!!! in*/
  margin : 0 auto;
}





.Information {
  width: 100%;
  height: 400px;
  background-color: rgba(36, 55, 72, 1);
  position: static;
  top: -192px;
  clear: both;
}

.explain {
  float: right;
  display: inline;
  width: 30%;
  height: 400px;
  /*position: relative;*/
}

#GMapHolder {
  width: 70%;
  height: 400px;
  float: left;
  display: inline;
  background-color: rgba(91, 155, 213, 1);
  /*position: relative;*/
}

h2 {
  color: white;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
h4 {
  color : lightgray;
}

.mainT{
  padding-top: 20px;
}

.mainP{
  margin-top: 90px;
  margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}


.footer {
  position: static;
}
