@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	background-color: #F2F4F7;
}

p, h1, h2, h3, h4, h5, h6, li {
	font-family: "Nanum Gothic", sans-serif;
	color: #757575;
}

.container-card {
	background-color: #ffffff;
	/*border: 1px #bebebe solid;*/
	padding: 12px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.new-item {
	margin-top: 16px;
	margin-bottom: 16px;
}

.upload {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}

/* TODO */
.upload a:hover h2{
	text-decoration: none;
}

.upload div {
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
}

.upload h2 {
	font-size: 1.2em;
	font-weight: 700;
	color: #3956CC;
	/*display: inline-block;*/
	margin-bottom: 4px;
	margin-top: 0px;
}

.upload p {
	margin-bottom: 0px;
}

.upload #photo-icon {
	/*align-self: flex-start;*/
	height: 56px;
	width: 56px;
}

.upload #upload-icon {
	align-self: flex-end;
}

.post-header {
	height: 48px;
}

.post-header+* {
/*  	position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);*/
    display: inline;
}

/* Name */
.post-header h3 {
	display: inline;
	font-size: 1.1em;
	color: #000000;
}

/* Time */
.post-header h4 {
	margin: 0 0 0 0;
	/*padding-top: 24.5px;*/
	float: right;
	font-size: 0.9em;
	color: #bdbdbd;
}

.post-header img {
	height: 40px;
	width: 40px;
	margin-right: 12px;
}

/* Description */
.post-desc p {
	color: #757575;
}

.post-img img {
	width: 100%;
	/*max-height: 300px;*/
	object-fit: cover;
}

.post-footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

.post-footer p {
	display: inline-block;
	float: right;
}

.supplement {
	box-shadow: transparent;
}

/* Title */
.supplement h2 {
	font-size: 1.2em;
	font-weight: 700;
	color: #41A86E;
}

/* Description of image recognition */
.supplement h6 {
	font-size: 0.8em;
	line-height: 1.4em;
	color: #bdbdbd;
}

.supplement .recog-result-desc {
	padding: 6px 0px 6px 0px;
}

.supplement .recog-result-desc h5 {
	color: #41A86E;
	font-size: 1.1em;
	text-align: center;
}

.supplement h3 {
	font-size: 1em;
	font-weight: 800;
	color: #41A86E;
	margin-top: 10px;
	margin-bottom: 10px;
}

.supplement ol {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 2px;
	padding-bottom: 0px;
	margin: 0px;
	font-size: 1em;
}

.horizontal-divider {
	height: 1px;
	width: 100%;
	background-color: #e0e0e0;
	margin-top: 4px;
	margin-bottom: 4px;
}

.less-padding {
	padding: 0px 12px 0px 12px;
}

/* For desktop */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}

	.container-card {
		/*background-color: #ffffff;*/
		/*border: 1px #bebebe solid;*/
		padding: 24px;
		/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
	}

	.less-padding {
		padding: 0px 6px 0px 6px;
	}
}